a {
  color: rgb(105, 159, 90)
}

a:hover {
  color: rgb(91, 129, 80)
}

.clear-filter-button.btn.btn-light.btn-sm {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #e5e5e5;
  border-left-width: 0px;
}

.filter-input.form-control {
  height: 32px;
  width: 275px;
  border-radius: 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #e5e5e5;
  padding: 0 32px 0 16px;
  font-size: 13px;
}

.check-in-button.btn.btn-primary.btn-sm {
  height: 33px;
  width: 170px;
}

.import-excel-button.btn.btn-primary.btn-sm {
  height: 33px;
  width: 225px;
}

.export-excel-button.btn.btn-primary.btn-sm {
  height: 33px;
  width: 150px;
}

.audit-button.btn.btn-primary.btn-sm {
  height: 33px;
  width: 122px;
}

.shelves-button.btn.btn-primary.btn-sm {
  height: 33px;
  width: 134px;
}

#audit-products-submit-button.btn {
  height: 33px;
  width: 275px;
}

#clear-scanned-shelf-button.btn {
  height: 33px;
  width: 112px;
}

.barcode-wrap {
  border: 3px dashed #999;
}

.custom-disabled-button.btn {
  cursor: not-allowed;
  pointer-events: auto;
  border-color: #D3D3D3 !important;
  background-color: #D3D3D3 !important;
  color: #838383 !important;
}

.unilever-print-logo {
  height: 2in;
}

.input-modal-text {
  font-size: 14px;
}

.dropdown-menu.show {
  max-height: 250px;
  overflow-y: scroll;
}

.product-tags {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#shelf-details:disabled,
#product-details:disabled {
  background-color: #f4f4f47d;
}

@media print {
  .page-break {
    page-break-after: always;
  }

  header,
  footer {
    display: none !important;
  }

  #product-tags {
    max-width: 100%;
    font-size: 12px;
    margin: 0px;
  }

  #unilever-barcodes {
    max-width: 100%;
    font-size: 12px;
    margin: 0px;
  }

  #unilever-product-label {
    max-width: 100%;
    font-size: 12px;
    margin: 120px 0px 0px;
  }
}