.clear-filter-button.btn.btn-light.btn-sm {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #e5e5e5;
  border-left-width: 0px;
}

.filter-input.form-control {
  height: 32px;
  width: 275px;
  border-radius: 3px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #e5e5e5;
  padding: 0 32px 0 16px;
  font-size: 13px;
}

.check-in-button.btn.btn-primary.btn-sm {
  height: 33px;
  width: 175px;
}

.barcode-wrap {
  border: 3px dashed #999;
}

.custom-disabled-button.btn {
  cursor: not-allowed;
  pointer-events: auto !important;
  border-color: #D3D3D3 !important;
  background-color: #D3D3D3 !important;
  color: #838383  !important;
}

.custom-disabled-button.btn:active {
  background: transparent !important;
  color: gray !important;
}

.custom-disabled-button.btn:focus-visible {
  box-shadow: none;
}

